
# Database
DATABASE_URL=postgresql://username:passwd@psql.server.com/db_name?sslmode=require
# or
DB_HOST=host:port
DB_USER=user
DB_PASSWORD=password
DB_NAME=database

# Security
SECRET_KEY=a-very-secret-key

# Server
HOST=0.0.0.0
PORT=8000
